* { margin: 0; padding: 0;}

body { background-color: #ededed;  overflow-y:scroll;} 

.signupbox {
    width: 1000px; height: 200px;
    margin: 0 auto;
}

.signupbox h3 {
    width: 100%;
    height: 70px; line-height: 70px;
    padding-top:20px;
    font-weight: normal;
    text-align: center;
}

.signupbox form {
    width: 50%; height: 600px;
    background-color: #fff;
    padding: 20px; box-sizing: border-box;
    margin: 0 auto;
}

.signupbox fieldset {
    border: none;
    width: 460px;
    padding-left: 130px;
}

.signupbox label {
    display: block;
    font-size: 15px; color: #333;
    margin-bottom: 10px;
}

.signupbox input {
    display: block;
    width: 200px; height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
}

.signupbox .check1 { /*이용약관 라벨 */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.signupbox .check1-info { /*이용약관 정보*/
    margin-left: 20px;
    font-style: normal; font-weight: 100; font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.signupbox .check1-input { /*체크박스-1*/
    width: 50px;
    margin-left: 80px;
}

.signupbox .check2-input { /*체크박스-2*/
    width: 50px;
}

.signupbox .check3-input { /*체크박스-3*/
    width: 50px;
}

.signupbox button { /*가입완료 버튼*/
    display: block;
    width: 100px; height: 50px;
    margin: 60px;
    border: none;
    background-color: rosybrown;
    color: #fff; font-size: 15px; font-weight: bold;
    margin-top: 20px;
}