* { margin: 0; padding: 0;}

body { background-color: #ededed;  overflow-y:scroll;} 

.signupbox {
    width: 1000px; height: 200px;
    margin: 0 auto;
}

.signupbox h3 {
    width: 100%;
    height: 70px; line-height: 70px;
    padding-top:20px;
    font-weight: normal;
    text-align: center;
}

.signupbox2 {
    width: 50%; height: 670px;
    background-color: #fff;
    padding: 20px; box-sizing: border-box;
    margin: 0 auto;
}

.signupbox3 {
    border: none;
    width: 460px;
    padding-left: 130px;
}

.signupbox label {
    display: block;
    font-size: 15px; color: #333;
    margin-bottom: 10px;
}

.signupbox input {
    display: block;
    width: 200px; height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
}

.signupbox .check1 { /*이용약관 라벨 */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.signupbox .check1-info { /*이용약관 정보*/
    margin-left: 20px;
    font-style: normal; font-weight: 100; font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.signupbox .check1-input { /*체크박스-1*/
    width: 50px;
    margin-left: 80px;
}

.signupbox .check2-input { /*체크박스-2*/
    width: 50px;
}

.signupbox .check3-input { /*체크박스-3*/
    width: 50px;
}

.signupbox .submit { /*가입완료 버튼*/
    display: block;
    width: 100px; height: 50px;
    margin: 60px;
    border: none;
    transition-duration: 0.3s;
    background-color: rosybrown;
    color: #fff; font-size: 15px; font-weight: bold;
    margin-top: 20px;
}

.signupbox .email_check { /*이메일인증버튼*/
    width: 100px; height: 25px;
    background-color:  #E4EBF5;
    position:absolute;
    top: 370px; left: 880px;
}

.signupbox .emailNum_check { /*이메일 인증번호 확인 버튼*/
    width: 100px; height: 25px;
    background-color:  #E4EBF5;
    position:absolute;
    top: 425px; left: 880px;
}

span{ 
    color:red;
    border: 1px solid black;
    visibility: hidden;
}

.signupbox .submit:active {
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0; 
    cursor: pointer;
}

.signupbox .email_check:active {
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0; 
    cursor: pointer;
}

.signupbox .emailNum_check:active {
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0; 
    cursor: pointer;
}